.chart .days, .chart .bars {
  display: flex;
  justify-content: space-around;
}

.chart .bars .bar-7, .chart .bars .bar-6, .chart .bars .bar-4, .chart .bars .bar-3, .chart .bars .bar-2, .chart .bars .bar-1, .chart .bars .bar-5 {
  position: relative;
}

.chart {
  height: 200px;
}
.chart .bars {
  align-items: flex-end;
  height: 80%;
  margin-bottom: 0.5rem;
}
.chart .bars .bar {
  width: 30px;
  border-radius: 3px;
  background-color: hsl(10, 79%, 65%);
  animation-name: barsAnimation;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.chart .bars .bar-1, .chart .bars .bar-5 {
  height: 30%;
}
.chart .bars .bar-2 {
  height: 50%;
}
.chart .bars .bar-3 {
  height: 80%;
  background-color: hsl(186, 34%, 60%);
}
.chart .bars .bar-4 {
  height: 45%;
}
.chart .bars .bar-6 {
  height: 60%;
}
.chart .bars .bar-7 {
  height: 40%;
}
.chart .bars .bar-1::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -1.5rem;
  left: -0.1rem;
  font-size: 0.7em;
  background-color: hsl(25, 47%, 15%);
  color: hsl(33, 100%, 98%);
  padding: 0.2rem;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.chart .bars .bar-1:hover::before {
  opacity: 1;
}
.chart .bars .bar-1:hover {
  opacity: 0.5;
  cursor: pointer;
}
.chart .bars .bar-2::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -1.5rem;
  left: -0.1rem;
  font-size: 0.7em;
  background-color: hsl(25, 47%, 15%);
  color: hsl(33, 100%, 98%);
  padding: 0.2rem;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.chart .bars .bar-2:hover::before {
  opacity: 1;
}
.chart .bars .bar-2:hover {
  opacity: 0.5;
  cursor: pointer;
}
.chart .bars .bar-3::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -1.5rem;
  left: -0.1rem;
  font-size: 0.7em;
  background-color: hsl(25, 47%, 15%);
  color: hsl(33, 100%, 98%);
  padding: 0.2rem;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.chart .bars .bar-3:hover::before {
  opacity: 1;
}
.chart .bars .bar-3:hover {
  opacity: 0.5;
  cursor: pointer;
}
.chart .bars .bar-4::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -1.5rem;
  left: -0.1rem;
  font-size: 0.7em;
  background-color: hsl(25, 47%, 15%);
  color: hsl(33, 100%, 98%);
  padding: 0.2rem;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.chart .bars .bar-4:hover::before {
  opacity: 1;
}
.chart .bars .bar-4:hover {
  opacity: 0.5;
  cursor: pointer;
}
.chart .bars .bar-5::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -1.5rem;
  left: -0.1rem;
  font-size: 0.7em;
  background-color: hsl(25, 47%, 15%);
  color: hsl(33, 100%, 98%);
  padding: 0.2rem;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.chart .bars .bar-5:hover::before {
  opacity: 1;
}
.chart .bars .bar-5:hover {
  opacity: 0.5;
  cursor: pointer;
}
.chart .bars .bar-6::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -1.5rem;
  left: -0.1rem;
  font-size: 0.7em;
  background-color: hsl(25, 47%, 15%);
  color: hsl(33, 100%, 98%);
  padding: 0.2rem;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.chart .bars .bar-6:hover::before {
  opacity: 1;
}
.chart .bars .bar-6:hover {
  opacity: 0.5;
  cursor: pointer;
}
.chart .bars .bar-7::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -1.5rem;
  left: -0.1rem;
  font-size: 0.7em;
  background-color: hsl(25, 47%, 15%);
  color: hsl(33, 100%, 98%);
  padding: 0.2rem;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.chart .bars .bar-7:hover::before {
  opacity: 1;
}
.chart .bars .bar-7:hover {
  opacity: 0.5;
  cursor: pointer;
}
.chart .days {
  font-size: 0.8rem;
  color: hsl(25, 47%, 15%);
}
.chart .days p {
  width: 30px;
  text-align: center;
}

@keyframes barsAnimation {
  from {
    height: 0%;
  }
}/*# sourceMappingURL=Chart.css.map */