$primary-color: hsl(10, 79%, 65%);
$secondary-color:hsl(186, 34%, 60%);

$heading-dark-brown:hsl(25, 47%, 15%);
$heading-total-text:hsl(28, 10%, 53%);
$bg-outter:hsl(27, 66%, 92%);
$bg-inner:hsl(33, 100%, 98%);

$body-font-size: 18px;