@import 'vars', 'utils';

body{
    background-color: $bg-outter;
}

#root{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;
}